<div class="hero-unit">
	<h1>CrowdFunder</h1>
	<p>A clone of Kickstarter, a crowdfunding website. You can raise money and accept presale for your venture</p>
	<%= link_to 'Sign Up', [:new, :user], class: 'btn btn-primary'%>
</div>