<h1>Listing projects</h1>
<div class="row">
	<% @projects.each do |project| %>
		<div class="span4">
	  	<%= render 'project', project: project %>
  	</div>
 	<% end %>
</div>


<%= paginate @projects %>