<h1>Listing projects</h1>
<table id="projects">
  <thead>
    <tr>
      <th>Title</th>
      <th>Teaser</th>
    </tr>
    <tbody class="page">
    	<%= render @projects %>
  	</tbody>
  </thead>


<%= paginate @projects %>